@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.logos {
    text-align: right;
    padding-right: 10%;
    /* padding-top: 3%; */
}

nav {
    padding: 2.5%;
}